<div class="row">
    <div class="col-lg-6">
        <div class="jumbotron">
            <p class="lead">@Html.Raw(ViewBag.strHechos)</p>
        </div>
        <div class="jumbotron">
            <p class="lead">@Html.Raw(ViewBag.strReglas)</p>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="jumbotron">
            <p class="lead">@Html.Raw(ViewBag.strDisp)</p>
        </div>
    </div>
</div>


